version: "3.9"


services:
  db:
    image: postgres:16
    container_name: my_db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"


  auth:
    container_name: my_auth
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    command: sh -c "alembic -c alembic.ini upgrade head && uvicorn src.main:app --host 0.0.0.0 --port 8000"
    ports:
      - "8000:8000"

volumes:
  db_data: